/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

:root{
    --first-color: #0084fd;
    --fisrt-light-color: #b5ddff;
    --second-color:#9792e4;
    --text: #909090;

    --main-space: 2rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--main-space);
    
}

.box-debug{
    background-color: var(--fisrt-light-color);
}

.flex-grow{
    flex-grow: 1;
}

.btn{
    border-radius: 50px;
    padding: 5px 10px;
    border: none;


}

/* HEADER */

header{
    background-color: var(--first-color);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header ul {
    display: flex;
    align-items: center;
    color: white;
}

.site-header ul li {
    display: flex;
    list-style: none;
    margin: 0 5px;

}



/* MAIN */

/* INTRO */
#intro{
    padding: var(--main-space) 0;
}

#intro .cards{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

#intro .cards .card{
    width: calc((100% / 3) - 1.5rem);
    margin-bottom: var(--main-space);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: var(--fisrt-light-color);
    border-radius: 30px;


}

#intro .cards .card:first-child {
    width: calc(((100% / 3) * 2) - 1.5rem);
    display: flex;
    justify-content: space-between;
}

#intro .cards .card:first-child > * {
    width: 50%;
}

.card div > *:not(:last-child){
    padding: 30px 10px;
    
}

#intro .card-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#intro .card-img img{
    width: 50%;
}

/* CARD STYLE */
#intro .card-style > div{
    display: flex;
    justify-content: center;

}

#intro .card-style > div > i{
    font-size: 50px;
    color: var(--first-color);
    
}

#intro .card-style> *{
    text-align: center;
    padding: 1rem;
}

#intro .card-style h3{
    color: var(--first-color);
}
/* FINE CARD STYLE */

#img-plann-uno{
    width: 60%;
}

#card-plann-due{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

#card-plann-due > *{
    display: block;
    padding: 10px 10px;

}

#img-plann-due{
    width: 50%;
    height: 50%;
}




/* PLANNING */

#planning{
    padding: var(--main-space) 0;
    background-color: var(--second-color);
}

#planning .my-row{
    display: flex;
    align-items: flex-end;
    padding: 0 3rem;

}

#planning .my-row .my-col{
    width: 50%;
}

.plann-btn-arrow-down{
    border-radius: 50%;
    width: 10px;
    height: 20px;
    background-color: var(--second-color);
}

.fa-arrow-down{
    width: 50px;
}

/*TESTIMONIALS */

#testimonials{
    padding: var(--main-space) 0;
}

#testimonials .container > * {
    margin-bottom: var(--main-space);
}

#testimonials .card {
    background-color: var(--second-color);
    padding: 1rem;
    display: flex;
    border-radius: 40px;
    margin-bottom: 20px;
}

.intestazione-testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intestazione-testimonials > *{
    padding: 10px;
}

.intestazione-testimonials h2{
    font-size: 3rem;
    color: var(--second-color);
}

.left-card{
    height: 200px;
    width: 400px;


}


.img-card{
width: 80%;
height: 80%;
border-radius: 50%;
padding: 10px 10px;
object-fit: cover;
display: flex;
}

.text-card{
    margin-left: 50px;
    color: white;
}




/*  BENEFITS*/

#benefits{
    padding: var(--main-space) 0;
    background-color: var(--second-color);
}

#benefits .my-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

#benefits .my-row .my-col{
    width: calc((100% / 3) - 1.5rem);
    margin-bottom: var(--main-space);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
}

.intestazione-benefits{
    display: flex;
    justify-content: center;
    color: white;
}


#benefits .my-col{
    color: var(--second-color);
}

#benefits .my-col p:first-child{
    font-size: 50px;
}

#benefits .my-col button{
    background-color: var(--second-color);
    color: white;
}



#benefits .my-col> *{
    padding: 10px;
}


#benefits .my-col #text-card{
    color: var(--text) ;
}


/* ABOUT-US */

#about-us .container{
    margin-top: var(--main-space);
}

#about-us .my-col{
    display: flex;

}

#about-us .my-col div:first-child{
    width: 70%;
}

#about-us .my-col div:not(:first-child){
    width: 30%;
}

#about-us .my-col .right{
    height: 400px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about-us .my-col .left h2{
    color: var(--second-color);
    font-size: 2rem;
}

#about-us .my-col .left > * {
    margin: 30px;
}

#about-us .my-col .right img{
width: 50%;
height: 50%;
border-radius: 50%;
padding: 10px 10px;
object-fit: cover;

}

#about-us .my-col .right h4{
    color: var(--second-color);
    padding: 0 20px;
    text-align: center;
}

#about-us .my-col .right button{
    background-color: var(--second-color);
    color: white;
    margin-top: 10px;
}




/* PRICING */

#pricing {
    background-color: var(--second-color);


}

#pricing .container{
    display: flex;
    margin-top: var(--main-space);
    justify-content: center;

}

#pricing .container .my-row{
    width: 50%;
    text-align: center;
}

#pricing .my-col .up> *{
    padding: 30px;
    color: white;
}

#pricing .my-col .bottom> *:not(button){
    padding: 30px;
    color: white;
}

#pricing .my-col .up h2{
    padding: 30px;
    color: white;
    font-size: 2rem;
}

#pricing .my-col .up h1{
    padding: 30px;
    color: #fdc15f;
    font-size: 4rem;
}




/* FOOTER */

footer {
    background-color: #333333;
}


footer .container{
    display: flex;
    margin-top: var(--main-space);
    justify-content: center;

}

footer .container .my-row{
    width: 50%;
    text-align: center;
}

footer .container .my-col> *{
    color: white;
    padding: 20px;
}


/* MEDIA QUERY */

/* DEKSTOP */

@media screen and (max-width: 100vw ) {

    body{
        width: 100vw;
    }

    #hamburger-menu{
        display: none;
    }

}

/* TABLET */

@media screen and (max-width: 992px ) {

    .site-header div ul{
        display: none;
    }

    #hamburger-menu{
        display: block;
        color: white;
    }

    #intro .container{
        max-width: 100%;
    }

    #intro .cards .card:first-child {
        display: flex;
        flex-wrap: wrap;
    }

    #intro .cards .card:first-child > * {
        width: 100%;
    }


    #planning .my-row{
        padding: 0;
        flex-wrap: wrap;
    
    }
    
    #planning .my-row .my-col{
        width: 100%;
    }

    #benefits .my-row{
        flex-wrap: wrap;

    }
    
    #benefits .my-row .my-col{
        width: calc(50% - 1.5rem);
    }
   
    

}

/* MOBILE */

@media screen and (max-width: 768px ) {
    .container{
        max-width: 768px;
    }

    #intro .cards .card{
        width: calc(100% - 1.5rem);
    }
    
    #intro .cards .card:first-child {
        width: calc(100% - 1.5rem);
        display: flex;
        justify-content: space-between;
    }

    #testimonials .card {
        flex-wrap: wrap;
        }
    
        #testimonials .container > * {
        width: 100%; 
       }

       #benefits .my-row{
        flex-wrap: wrap;

    }
    
    #benefits .my-row .my-col{
        width: 100%;
    }
}